<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <title>Become a developer with Code Squad</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <img src="src/assets/logo.png" alt="codesquad.org logo" class="logo" />
      <ul class="links">
        <li><a href="#">What we do</a></li>
        <li><a href="#">For businesses</a></li>
        <li class="active"><a href="#">For students</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Get involved</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
      <img class="menu" src="src/assets/menu.svg" alt="menu bar" />
    </nav>
  </header>
  <main>
    <div class="hero">
      <div class="img-container">
        <img src="src/assets/img.jpeg" alt="students and instructors at code squad looking a computer" />
      </div>
      <h1>Title</h1>
    </div>

    <div class="divider">
      <h2>Slogan</h2>
    </div>

    <div class="info-box">
      <div class="info-container">
        <div class="info-header">
          <h3>Info Title</h3>
          <p>Cost: Free</p>
          <button>Link</button>
        </div>
      </div>
      <div class="info-content">
        <span>
          <h4>SubTitle #1</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem aliquid dignissimos placeat consequuntur
            nihil exercitationem magni, nobis nesciunt velit ea quidem, nisi eos accusantium incidunt explicabo nam, non
            ducimus distinctio.</p>
        </span>
        <span>
          <h4>SubTitle #2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum libero, quaerat magni inventore blanditiis
            ea earum, est dolores officia in debitis esse voluptate non reiciendis? Exercitationem asperiores a rerum
            fugiat?</p>
        </span>
        <span>
          <h4>SubTitle #3</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam beatae voluptatibus nesciunt laborum quos
            ratione eos quidem, magnam molestiae non dolorem illum, itaque libero natus in nam sed nemo culpa!</p>
        </span>
      </div>
    </div>
  </main>
  <footer>
    <h5>Footer under construction...</h5>
    <img src="src/assets/logo.png" alt="logo">
  </footer>
</body>

</html>